{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-react-constant-elements"
  ],

  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "ignoreFilenames": ["node_modules"]
        }],
        "babel-plugin-transform-react-class-to-function"
      ]
    },
    "development": {},
    "text": {}
  }
}
